[Unit]
Description=MQTT
After=network.target
Wants=network.target
StartLimitBurst=0

[Service]
WorkingDirectory=/home/djo/muzieksysteem/mqtt
ExecStart=/usr/bin/python3 /home/djo/muzieksysteem/mqtt/mqtt.py
Restart=always
RestartSec=30
User=djo

[Install]
WantedBy=multi-user.target
