[Unit]
Description=Visualizer
After=network.target
Wants=network.target

[Service]
WorkingDirectory=/home/djo/muzieksysteem/visualizer
ExecStart=/usr/bin/python3 /home/djo/muzieksysteem/visualizer/main.py
Restart=always
RestartSec=10
User=djo

[Install]
WantedBy=multi-user.target