[Unit]
Description=Visualizer
After=network.target
Wants=network.target

[Service]
WorkingDirectory=/home/djo/muzieksysteem/visualizer
ExecStart=/usr/bin/bash /home/djo/muzieksysteem/visualizer/run.sh
Restart=always
RestartSec=60
User=djo

[Install]
WantedBy=multi-user.target